name: vscode-server
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  test:
    name: run-test-server
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
    steps:
    - uses: stateful/vscode-server-action@v1
      with:
        machineName: my-test-machine # optional, default: GitHub workflow run ID
        timeout: '300000'       # optional, default: 30000
